/* Styles for header */
*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}
header {
    background-color: white;
    color: green;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header h1 {
    font-size: 36px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* Google Font: Trebuchet MS */
  }
  
  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links li button {
    background: none;
    border: none;
    color: green;
    font-size: 16px;
    cursor: pointer;
  }
  
  .nav-links li button:hover {
    color: rgb(0, 90, 0);
    transition: 0.355s;
  }
  
  .my-cart {
    font-size: 16px;
    font-weight: bold;
  }
  
  /* Main content styles */
  main {
    padding: 20px;
    text-align: center;
  }
  
  .centered-paragraph {
    max-width: 600px;
    margin: 0 auto;
    font-size: 14px; /* Smaller font size */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* Google Font: Trebuchet MS */
    line-height: 1.5;
  }
  